In [1]:
import pandas as pd

In [17]:
data = pd.read_excel('nakladnaya.xls', skiprows=2).dropna(how='all')

In [18]:
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,НАКЛАДНАЯ,"№ 5764809 от ""08"" апреля 2018 г.",Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,NaN,Грузоотправитель:,NaN,"ООО ""Первый строитель""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Грузополучатель:,NaN,"ООО ""Стройка века""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Основание для отпуска: Договор №,NaN,NaN,86.0,"от ""02""апреля 2018 г.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,№,Наименование товарно-материальных ценностей,NaN,NaN,NaN,Ед. изм.,NaN,NaN,Количество,NaN,"Цена,","Сумма,"
9,NaN,п/п,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,руб. коп.,руб. коп.
10,NaN,1,"Велосипед ""Спринтер""",NaN,NaN,NaN,шт,NaN,NaN,5,NaN,9000,45000
11,NaN,2,"Велосипед ""Малютка""",NaN,NaN,NaN,шт,NaN,NaN,10,NaN,3500,35000
13,NaN,NaN,Всего отпущено,2 (два) наименования,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,На сумму,80 000 (восемьдесят тысяч) рублей,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,Отпуск разрешил,Зам. Директора,NaN,NaN,NaN,NaN,Куликов,NaN,NaN,Куликов П.Д.,NaN
19,NaN,NaN,М.П.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,Отпустил,Кладовщик,NaN,NaN,NaN,NaN,Мазов,NaN,NaN,Мазов Р.К.,NaN
22,NaN,NaN,Получил,Водитель,NaN,NaN,NaN,NaN,Дроценко,NaN,NaN,Дроценко А.С.,NaN
24,NaN,NaN,М.П.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
table = data.iloc[5:7, :].dropna(axis=1, how='all')

In [33]:
table

,Unnamed: 1,Unnamed: 2,Unnamed: 6,Unnamed: 9,Unnamed: 11,Unnamed: 12
10,1,"Велосипед ""Спринтер""",шт,5,9000,45000
11,2,"Велосипед ""Малютка""",шт,10,3500,35000

In [34]:
table.to_excel('test.xlsx', index=False)

In [35]:
writer = pd.ExcelWriter('test.xlsx')
table.to_excel(writer, index=False, sheet_name='Таблица')
writer.save()

In [36]:
workbook = writer.book

In [37]:
worksheet = writer.sheets['Таблица']

In [38]:
money_fmt = workbook.add_format({'bold': True})
name_fmt = workbook.add_format({'color': 'red'})

In [39]:
worksheet.set_column('E:F', 20, money_fmt)
worksheet.set_column(1, 1, 20, name_fmt)

0

In [40]:
writer = pd.ExcelWriter('test.xlsx')
table.to_excel(writer, index=False, sheet_name='Таблица')
writer.save()